@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #111111;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply font-sans antialiased selection:bg-brand-rose selection:text-white;
  }

  /* Typography Base Overrides */
  h1, h2, h3, h4, h5, h6 {
    @apply tracking-tight font-sans;
  }
}

